.shop-product{
	min-height: 450px;
}
.product-image{
	height: 370px;
}
.list-friend{
	padding-left: 60px;
}
.list-friend .media p{
	line-height: 5;
}

.list-friend .media p:first-child { 
    width: 140px;
}
.list-friend .media p:first-child a {
    float: right;
}

.margintheme{
	margin-top: 50px;
	margin-bottom: 50px;
}

div.preloader{
	visibility: hidden!important;
}

.table-follow-list{
	width: inherit;
	margin: 0 auto;
}

.table-follow-list img.img-new{
	width : 50px;
	margin-left: 10px;
}

.table-follow-list>thead>tr>th, .table-follow-list>tbody>tr>th, .table-follow-list>tfoot>tr>th, .table-follow-list>thead>tr>td, .table-follow-list>tbody>tr>td, .table-follow-list>tfoot>tr>td{
	
    border-top: 1px solid #F9F9F9;
}